# ==========================================
# GRAFANA CLOUD (OBSERVABILITY)
# ==========================================
GRAFANA_CLOUD_OTLP_ENDPOINT=https://otlp-gateway-prod-ap-southeast-2.grafana.net/otlp
GRAFANA_CLOUD_BASIC_AUTH_HEADER=Basic MTY0NzQxNDpnbGNfZXlKdklqb2lNVGMyT1RRME1TSXNJbTRpT2lKemRHRmpheTB4TmpRM05ERTBMV0ZzYkc5NUxXUmxkaTFzYjJOaGJDSXNJbXNpT2lJNWVtVlBkV1pMY3pkR056YzJUVXAwTlRneVFtazFhRElpTENKdElqcDdJbklpT2lKd2NtOWtMV0Z3TFhOdmRYUm9aV0Z6ZEMweUluMTk=

# ==========================================
# SEAWEEDFS (OBJECT STORAGE)
# ==========================================
SEAWEDFS_S3_ENDPOINT=http://seaweedfs-s3:8333
SEAWEDFS_ACCESS_KEY=admin
SEAWEDFS_SECRET_KEY=admin
SEAWEDFS_BUCKET=sim-sekolah-documents
SEAWEDFS_REGION=us-east-1
SEAWEDFS_SECURE=false

# ==========================================
# MESSAGE QUEUE (RABBITMQ)
# ==========================================
RABBITMQ_URL=amqps://sgnhbbhd:2VVZoiepjI3f8fhYNb4OIW9xJ2ghOS5q@capybara.lmq.cloudamqp.com/sgnhbbhd

# ==========================================
# CACHE (REDIS)
# ==========================================
REDIS_HOST=redis-11576.c256.us-east-1-2.ec2.cloud.redislabs.com
REDIS_PORT=11576
REDIS_PASSWORD=nUr6rZPIqC8umRbXq9ZVopQLSm8Yaci7
REDIS_DB=0

# ==========================================
# DATABASE (POSTGRESQL)
# ==========================================
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=password123
DB_NAME=sim_sekolah_terpadu
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta

# ==========================================
# APP SETTINGS
# ==========================================
JWT_SECRET=super_secret_jwt_key
CORS_ALLOWED_ORIGINS=http://localhost:3000